
.social{
  margin: 5px;
  border-radius: 30%;

}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 20px;
  font-family: lucida sans;
}

.grid-item {
    text-align: left;
    margin: 75px;
}
.grid-pic {
margin: auto;
}

.überschrift {
  text-align: center;
}

section {
  margin-bottom: 20px;
}

h2 {
  font-size: 16pt;
  text-align: left;
  padding-left: 38px;

}

h3 {
font-size: 15pt;
padding-bottom:
text: underline;




}

.doku {
  padding: 50px;

}

.linie {
  display: block;
  margin: auto;
  padding-bottom: 30px;
}
.logo2{
  display: block;
    float: right;
    margin: auto;
}
.footer{
  text-align: left;
  border-top: 1px solid;
  border-color: grey;
  padding: 60px;
  background-color: #f2f2f2;

}
 li {
   font-size: 10pt;
   padding-bottom: 5px;
 }

p.footer {
text-align: center;

}
.grid-container2 {
display: grid;
grid-template-columns: auto auto auto;
text-align: justify;
font-size: 9pt;
width: 20%;
margin:auto;


}
.grid-item2 {
  text-align: left;
}

.grid-container3 {
display: grid;
grid-template-columns: auto auto auto;
font-size: 9pt;
width: auto;
margin-bottom:0;
margin-top: auto;
margin-left: auto;
margin-right: auto;
}
.grid-item3 {
  text-align: left;
}
.social2 {
  margin: 2px;
  border-radius: 30%;
}

.social3 {
  float: right;
}
