
.social{
  margin: 5px;
  border-radius: 20%;

}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 20px;
}

.grid-item {
    text-align: left;
    margin: 75px;
}
.grid-pic {
margin: auto;
}

.überschrift {
  text-align: center;
}

section {
  margin-bottom: 20px;
}

h2 {
  font-size: 16pt;
color: blue;
font-family: arial black;
  text-decoration: underline;
}

.linie {
  display: block;
  margin: auto;
}

.footer{
  text-align: left;
  padding-bottom: 40px;


}
 li {
   font-size: 12pt;
   padding-bottom: 5px;
   font-size:

 }
